<div id="<%= dom_id booking %>">
  <p>
    <strong>System:</strong>
    <%= booking.System %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= booking.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= booking.price %>
  </p>

  <p>
    <strong>Reference:</strong>
    <%= booking.reference %>
  </p>

</div>
